<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tranyapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TranyApp">
        <service
            android:name=".services.PlayerService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".screens.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".receivers.NotificationActionBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="action previous" />
                <action android:name="action play pause" />
                <action android:name="action next" />
            </intent-filter>
        </receiver>
    </application>

</manifest>